@mixin sectionDesktop($bgColor) {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: $bgColor;
}

// Order Button

@mixin btnOrder ($color, $font) {
  display: flex;
  width: rem(157px);
  height: rem(58px);
  align-items: center;
  justify-content: center;
  background-color: $color;
  border-radius: rem(45px);
  border: none;
  font-size: rem(19px);
  font-weight: 800;
  color: $font;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

// SVG Icons

@mixin svg ($stroke, $stroke-width) {
  fill: none;
  stroke: $stroke;
  stroke-width: $stroke-width;
  stroke-miterlimit: 10;
}

