// Font Family 
//$asFont: 'Alegreya', Arial, Helvetica, sans-serif;
$asFont: 'Alegreya', Arial, Helvetica, sans-serif;
// Font Weight
$lightFont: 300;
$regularFont: 400;
$mediumFont: 500;
$boldFont: 700;

// Font Size
$xxsFont: 16px;
$xsFont: 18px;
$sFont: 21px;
$mFont: 27px;

// Colors
$lighter: #f2f5f4;
$lightGray: #666;
$green: #0f5a47;
$blue: #61c4d9;
$satBlue: #00accf;
$darkGray: #0d0d0d;

// Viewport Width
$desktop: 942px;
$laptop: 768px;
$mobile: 480px;
