.contacts {
  display: inline-block;
  text-align: center;

  .contacts__icon {
    fill: white;
    width: rem(12px);
    height: rem(11px);
  }
  .contacts__tel {
    font-size: rem(24px);
    color: white;
  }
}

.contacts--header {
  @include tablets {
    display: none;
  }
}
