.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  margin-bottom: 60px;
  z-index: 15;
}

.header__logo {
  display: flex;
  margin-right: 29px;
}