.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(24px);
  margin-bottom: rem(28px);
  z-index: 15;

}

.header__logo {
  display: flex;
  margin-right: rem(29px);
}