.ingredients {
  @include sectionDesktop(#f8faf9);
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

.ingredients__container {
  position: relative;
  flex-direction: initial;
  align-items: center;
  justify-content: center;
}

.ingredients__arrow-container {
  position: absolute;
  height: 100%;
  width: 3%;

  @include tablets {
    width: 15%;
  }

  @include phones {
    width: 7%;
  }
}

.arrow--left {
  left: 0;
}

.arrow--right {
  right: 0;
}

.ingredients__arrow {
  display: block;
  position: absolute;
  top: 50%;
  width: rem(19px);
  height: rem(18px);
  border: rem(2px) solid #0d0d0d;
  border-width: 0 0 rem(2px) rem(2px);
  cursor: pointer;
  z-index: 5;

  @include tablets {
    top: 30%;
  }
}

.arrow--back {
  transform: rotate(45deg);
  left: -2%;

  @include tablets {
    left: 100%;
  }
}

.arrow--front {
  transform: rotate(-135deg);
  right: 2%;

  @include tablets {
    right: 100%;
  }

}

.ingredients__slider-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include tablets {
    height: 86%;
  }
}

.ingredients__slider {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  right: 0;
  transition: right .3s;
}

.ingredients__slider-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;

  @include tablets {
    flex-direction: column;
  }

  @include phones {
  }

  @include phonesSmall {
  }
}

.ingredients__slider-item--seaweed, .ingredients__slider-item--grape {
  position: relative;
}

.ingredients__visual {
  width: 50%;
  position: relative;
  display: flex;
  margin-right: rem(87px);
  
  @include tablets {
    width: 100%;
    margin-right: 0;
    margin-bottom: rem(44px);
  }

  @include phones {
    margin-bottom: rem(20px);
  }
}

.ingredients__img {
  display: block;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;

  @include tablets {
    width: 55%;
  }

  @include phones {
    width: 50%;
  }
}


.ingredients__content {
  width: 50%;
  display: flex;
  flex-direction: column;

  @include tablets {
    width: 78%;
    height: 50%;
  }

  @include phones {
    width: 100%;
  }
}

.ingredients__tab {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: rem(90px);
  height: rem(90px);
  background: $blue;
  border-radius: rem(5px);
  margin-bottom: rem(37px);
  cursor: pointer;
  z-index: 5;

  span {
    font-style: italic;
    font-weight: 900;
    color: white;
    font-size: rem(14px);

    @include phonesSmall {
      font-size: rem(12px);
    }
  }

  @include tablets {
    position: absolute;
    top: 0;
    right: 0;
  }

  @include phonesSmall {
    width: rem(75px);
    height: rem(75px);
  }
}


.ingredients__icon {
  width: rem(51px);
  height: rem(51px);

}


.ingredients__name {
  font-size: rem(36px);
  color: black;
  margin: 0;
  margin-bottom: rem(22px);

  span {
    @include tablets {
      margin: 0 rem(320px);
    }
  }

  @include tablets {
    display: inline-block;
    text-align: center;
    margin: 0 23px rem(22px);
  }

  @include phonesSmall {
    font-size: rem(27px);
  }

}

.ingredients__table-container {
  position: absolute;
  top: 13%;
  right: 6%;
  width: rem(270px);
  height: rem(382px);
  background: rgba(255, 255, 255, 0.98);
  padding: 5% 2% 0;
  opacity: 0;
  // z-index: 30;
  transition: opacity .3s;
  
  @include tablets {
    top: 0;
    right: 19%;
  }

  @include phones {
    padding-top: 11%;
  }
}

.ingredients__table-container--grape {
  height: rem(300px);
}

.ingredients__table-closeBtn {
  font-size: rem(26px);
  font-weight: 800;
  position: absolute;
  top: 2%;
  right: 4%;
  padding: 2%;
  cursor: pointer;
}

.ingredients__table {
  display: flex;
  justify-content: stretch;
}

.ingredients__table-content {
  flex: 1;
}

.ingredients__tab.ingredients__tab--seaweed:hover, .ingredients__tab.ingredients__tab--grape:hover {
  background: #00accf;
}

.ingredients__tab.ingredients__tab--seaweed:hover + .ingredients__table-container.ingredients__table-container--seaweed {
  opacity: 1;
  z-index: 30;
  transition: opacity .3s;
}

.ingredients__tab.ingredients__tab--grape:hover + .ingredients__table-container.ingredients__table-container--grape {
  opacity: 1;
  z-index: 30;
  transition: opacity .3s;
}



.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(8px);
}

.item__icon {
  width: 17%;
  margin-right: 13%;

  .item__img {
    width: rem(33px);
    height: rem(33px);
  }
}

.item__name {
  width: 50%;
  font-size: rem(16px);
  font-weight: $mediumFont;
  color: #2f3234;
  margin-right: 5%;
}


.ingredients__desc {
  z-index: 1;
  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.ingredients__text {
  margin-right: rem(100px);
  margin-bottom: rem(47px);

  @include tablets {
    display: inline-block;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    
  }

  @include phones {
    margin-bottom: rem(27px);
  }
}

.ingredients__nutrients {
  display: flex;
  margin-bottom: rem(52px);

  @include phones {
    margin-bottom: rem(37px);
  }
}


.ingredients__ccal, .ingredients__weight {
  color: #333;
  width: 50%;
}

.ingredients__ccal {
  margin-right: rem(77px);
}

.ingredients__parameter-number {
  font-weight: $boldFont;
}

.ingredients__last-row {
  display: flex;
}

.ingredients__price {
  font-weight: $lightFont;
  font-size: rem(60px);
  color: $darkGray;
  margin-right: rem(31px);
}
