.map {
  @include sectionDesktop(white);
  position: relative;

  @include tablets {
    min-height: initial;
    max-height: 100vh;
  }

}

.map__container {
  width: 100%;
  height: 100%;
} 

.map__balloon {
  display: flex;
  align-items: center;
  font-size: rem(14px);
  color: $green;
}

.map__chocco-img {
  width: rem(70px);
  margin-right: rem(20px);
}
