.menu-fixed__list {
  position: fixed;
  top: 31%;
  right: 2%;
}

.menu-fixed__dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;
  margin-bottom: 4px;
  &:last-child {
    margin: 0;
  }
  &--active {
    border: 1px solid white;
  }
  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}